body{
    padding: 0;
    margin: 0;
    display: block;
    overflow-x: hidden;
    font-size: 18px;
    background-image: linear-gradient(to right bottom, #643bec, #6a50d0, #4051d5, #2468ce, #016bc4);
    background-size: 400% 400%;
	animation: animateBackground 15s cubic-bezier(0.22, 1, 0.36, 1) infinite;
    min-height: 100vh;
}

.ls-h1{
    font-family: 'Courgette', cursive;
    font-size: 3rem;
    color: #ffffff;
}

.ls-h2{
    font-family: 'Courgette', cursive;
    font-size: 1.5rem;
    color: #ffffff;
}

@keyframes animateBackground {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}